a {
  color: #9b1d23;
  text-decoration: none;
}

body {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

div {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12pt;
}

#topArea {
  background-color: #9b1d23;
  color: white;
  padding: 1em;
  text-align: center;
}

#topArea div {
  font-size: 2em;
  font-weight: bold;
}

#bottomArea {
  border-top: solid 1px black;
  padding: 1em;
  text-align: center;
}

#centralArea {
  margin: 4em 0em 4em 0em;
}

#centralArea > div:nth-child(odd) {
  background-color: #e4e4e4;
}

.tip {
  padding: 1.5em 0.5em 1.5em 0.5em;
}

.user {
  font-weight: bold;
}

.date {
  font-style: italic;
}

.message {
  margin-top: 0.5em;
}
